.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
  font-size: 10px;
  text-align: center;
  padding: 0;
  margin: 0;
  animation: 3s infinite scaleError;
}

@keyframes scaleError {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(3);
  }
}